* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #F5F4EC;
}

a {
  color: #7087A4;
  text-decoration: none;
}

.container {
  background: #000 url(img/sergio_top_A.jpg);
  background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-right: 120px;
  z-index: 1;
}

.logo h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  font-family: 'Saira', sans-serif;
  font-weight: 600;
  line-height: .1em;
}

.logo h2 {
  font-family: 'Saira', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  line-height: .8em;
}

.work-container {
  width: 90%;
  margin: 0 auto;
  box-shadow: 6px 0px 50px -20px #b6b6b6;
}

header {
  height: 180px;
  text-align: center;
  font-family: 'Saria', sans-serif;
  font-size: 2em;
  margin-top: 100px;
}

h3 {
  padding: 50px;
  font-family: 'Saira', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  line-height: .8em;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;

}

.mandolino {
  margin-right: 100px;
  padding-left: 20px;
} 
 
.clip1 {
  -webkit-clip-path: polygon(25% 0%, 90% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 90% 0%, 70% 100%, 0% 100%);
}

img {
  margin: 0;
  height: auto;
  display: block;
}

.social-link {
  list-style-type: none;
  color: #7087A4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.social-link li {
  padding: 20px;
}

.work-container2 {
  width: 90%;
  margin: 80px auto;
  box-shadow: 6px 0px 50px -20px #b6b6b6;
}

.project2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.banjo {
  margin-right: 50px;
  order: 2;
}
.clip2 {
  -webkit-clip-path: polygon(0 0, 66% 0, 100% 100%, 25% 100%);
clip-path: polygon(0 0, 66% 0, 100% 100%, 25% 100%);
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 20px;
  width: 800px;
  overflow: auto;
}

/*------------- media query ----------*/

@media only screen and (max-width: 768px) {

.container{
  position: relative;
}

.logo h1 {
  font-size: 2.5em;
  line-height: .9em;
}

.work-container {
  width: 100%;
}

.mandolino {
  margin: auto;
  padding: 0;
}

.ensamble {
   margin-left: 50px;
}  

.social {
  margin: auto;
}

.social-link li {
  padding: 10px;
}

.work-container2 {
  width: 100%;
}

.banjo {
  order: 0; 
}

.cv p{
  width:100%;
  margin: 1em;;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
}

}


@media only screen and (max-width: 500px) {

  .container {
    position: relative;
  }

  .logo {
    margin-left: 120px;
  }

  .logo h1 {
    font-size: 2.5em;
    line-height: .9em;
  }

  .work-container {
    width: 100%;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mandolino {
    margin: auto;
  }

  .social {
    margin: auto;
  }

  .social-link {
  
    font-size: .8em;
  }

  .work-container2 {
    width: 100%;
  }

  .banjo {
    order: 0; 
  }

  .cv p{
    width:100%;
    margin: 1em;;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
  }

  img {
    width: 65vw;
  }
}












